<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd "
       default-lazy-init="false">

    <context:property-placeholder file-encoding="UTF-8" ignore-unresolvable="true"
                                  location="classpath:/properties/application.properties"/>

    <context:property-placeholder file-encoding="UTF-8" ignore-unresolvable="true"
                                  location="classpath:/properties/alarming.properties"/>

    <beans profile="test">
        <context:property-placeholder file-encoding="UTF-8" ignore-unresolvable="true"
                                      location="classpath:/properties/application-test.properties"/>
    </beans>

    <beans profile="sit">
        <context:property-placeholder file-encoding="UTF-8" ignore-unresolvable="true"
                                      location="classpath:/properties/application-sit.properties"/>
    </beans>

    <beans profile="uat">
        <context:property-placeholder file-encoding="UTF-8" ignore-unresolvable="true"
                                      location="classpath:/properties/application-uat.properties"/>
    </beans>

    <beans profile="production">
        <context:property-placeholder file-encoding="UTF-8" ignore-unresolvable="true"
                                      location="classpath:/properties/application-production.properties"/>
    </beans>

</beans>
